KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=-I$(ARCHDIR)/include
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/log.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/arch.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupt.o \
